@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  background: #252525;
  color: #FFFFFF;
  padding: 30px;
  margin-bottom: 50px;
}

.logo {
  display: flex;
  flex-direction: column;
}

.logo span {
  letter-spacing: 3.7px;
}

.cta a {
  color: #FAC800;
  margin-right: 10px;
  text-decoration: none;
  font-weight: 300;
  font-size: 1.2em;
  border: 1px solid #FAC800;
  border-radius: 0.25rem;
  padding: 5px 10px;
  transition: 0.5s;
}

.cta a:hover {
  color: #252525;
  background: #FAC800;
}

@media only screen and (max-width: 600px) {
  .logo, .cta {
    margin: auto;
  }
}

.sign-out {
  color: #FAC800;
  text-decoration: none;
  font-weight: 300;
  font-size: 1.2em;
  border: 1px solid #FAC800;
  border-radius: 0.25rem;
  padding: 5px 10px;
  transition: 0.5s;
}

.sign-out:hover {
  color: #252525;
  background: #FAC800;
}

.sign-out:focus {
  box-shadow: none;
}

/* HOME BODY */

.home-body {
  padding: 50px 200px;
}

.table {
  width: 100%;
}


